@import '../../../assets/theme/default.theme';

.carousel {
  margin-top: 2rem;
  width: 30rem;
}

.carousel > .image {
  position: relative;
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 1rem;

  user-select: none;

  overflow: hidden;
}

.image > img {
  width: 100%;
}

.functions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  margin-top: 0.5rem;
}

.functions lucide-icon {
  transition: color 0.3s ease-in-out;
}

.functions lucide-icon:hover {
  color: $color-teal;
}

.functions > a {
  color: $color-black;

  user-select: none;
}
