<div class="carousel">

  <div class="image">
    <span #loader class="loader"></span>
    <img [alt]="images[selectedIndex].alt" [src]="selectedPath" draggable="false">
  </div>

  <div class="functions">
    <lucide-icon (click)="previous()" *ngIf="images.length > 1" name="chevron-left"
                 title="Previous screenshot"></lucide-icon>
    <a (click)="download()" title="Download screenshot">
      <lucide-icon name="download"></lucide-icon>
    </a>
    <a *ngIf="images.length > 1">{{selectedIndex + 1}} / {{images.length}}</a>
    <a [href]="selectedPath" target="_blank" title="Open screenshot in new tab">
      <lucide-icon name="maximize-2"></lucide-icon>
    </a>
    <lucide-icon (click)="next()" *ngIf="images.length > 1" name="chevron-right" title="Next screenshot"></lucide-icon>
  </div>
</div>
