@import '../../../assets/theme/default.theme';

.gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  margin-top: 2.5rem;
}

.copyright-notice {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.2rem;
  align-items: center;

  margin-top: 1rem;
}

.copyright-notice > * {
  color: #A2A2A2;
}
