<div class="gallery">
  <p>Shot on {{galleryService.current.device}}</p>

  <img #top loading="lazy"
       src="../../../assets/img/compressed/{{topIsTop ? galleryService.current.src : galleryService.future.src}}">
  <img #bottom loading="lazy"
       src="../../../assets/img/compressed/{{topIsTop ? galleryService.future.src : galleryService.current.src}}">

  <div class="footer striped inverted">
    <div>
      <a download="{{galleryService.current.location}}"
         href="../../../assets/img/original/{{galleryService.current.download}}"
         title="Click to download original image ({{galleryService.current.originalResolution}})">
        <lucide-icon name="download"></lucide-icon>
      </a>
      <lucide-icon (click)="previous()" name="chevron-left" title="Previous image"></lucide-icon>
      <lucide-icon (click)="next()" name="chevron-right" title="Next image"></lucide-icon>
      <a href="../../../assets/img/original/{{galleryService.current.download}}" target="_blank"
         title="Open original image in new tab">
        <lucide-icon name="maximize-2"></lucide-icon>
      </a>
    </div>
    <h3 [title]="galleryService.current.coordinates">{{galleryService.current.location}}</h3>
    <span></span>
    <div>
      <a>ƒ/{{galleryService.current.aperture}}</a>
      <a>{{galleryService.current.shutterSpeed}}</a>
      <a>{{galleryService.current.focalLength}}mm</a>
      <a>ISO{{galleryService.current.iso}}</a>
      <lucide-icon name="aperture"></lucide-icon>
    </div>
  </div>
</div>
