@import '../../../assets/theme/default.theme';

.cursor {
  z-index: 1000;
  position: fixed;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;

  transform: translate(-50%, -50%);

  background-color: $color-black;

  pointer-events: none;
  opacity: 0;

  transition: background-color 0.1s ease-in-out,
  width 0.1s ease-in-out,
  height 0.1s ease-in-out;
}

.cursor::after {
  content: '';
  position: absolute;
  left: -0.55rem;
  top: -0.55rem;

  animation-name: cursorRotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  width: 1.2rem;
  height: 1.2rem;

  border-radius: 50%;
  border: dashed 0.2rem $color-grey;

  transition: left 0.1s ease-in-out,
  top 0.1s ease-in-out,
  width 0.1s ease-in-out,
  height 0.1s ease-in-out;
}

.cursor.hold {
  width: 0.7rem;
  height: 0.7rem;

  background-color: $color-teal;
}

.cursor.hold::after {
  left: -0.65rem;
  top: -0.65rem;

  width: 1.6rem;
  height: 1.6rem;
}

@keyframes cursorRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
