@import '../../../assets/theme/default.theme';

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: fit-content;
}

.title > * {
  transition: color 0.3s ease-in-out;
}

.title > a {
  z-index: -10;
  position: absolute;
  left: 6.5rem;

  font-weight: 900;
  font-size: 32rem;
  line-height: 28rem;
  color: $color-grey;
}

.title.inverted > a {
  color: $color-black;
}

.title > h1 {
  margin-top: -0.5rem;
}

.title > h2 {
  line-height: 12rem;
  height: 12rem;
  width: 12rem;
  text-align: center;

  margin-left: -2rem;
  margin-top: -2rem;

  transform: rotate(-90deg);
  background: repeating-linear-gradient(
      45deg,
      $color-grey,
      $color-grey 0.6rem,
      rgba(0, 0, 0, 0) 0.6rem,
      rgba(0, 0, 0, 0) 1.2rem
  );

  user-select: none;
}

.title.inverted > h2 {
  color: $color-grey;
  background: repeating-linear-gradient(
      45deg,
      $color-black,
      $color-black 0.6rem,
      rgba(0, 0, 0, 0.01) 0.6rem,
      rgba(0, 0, 0, 0.01) 1.2rem
  );
  backdrop-filter: blur(5px);
}

.title.inverted > h1 {
  color: $color-grey;
}
