$color-black: #212121;
$color-green: #81C784;
$color-teal: #4DB6AC;
$color-blue: #7986CB;
$color-red: #E57373;
$color-grey: #F2F2F2;

$spacer-top: 12vh;
$spacer-right: 10vw;
$spacer-bottom: 8vh;
$spacer-left: 10vw;

$spacer-small-top: 12vh;
$spacer-small-right: 6vw;
$spacer-small-bottom: 6vh;
$spacer-small-left: 6vw;
