<div #timeline class="timeline" (window:resize)="calculatePoints()">
  <div #points *ngFor="let point of points" class="timestamp">{{point}}</div>

  <div #datasets *ngFor="let dataset of data" class="dataset {{dataset.color}}">
    <h3>{{dataset.title}}</h3>
    <div>
      <a *ngFor="let link of dataset.links" [class.clickable]="link.target" [href]="link.target ?? ''" [title]="link.tooltip ?? ''">
        <lucide-icon [name]="link.icon"></lucide-icon>
        <span *ngIf="link.text">{{link.text}}</span>
      </a>
    </div>
  </div>

  <div #today class="timestamp">Today</div>
</div>
