<div #photo class="photo">

  <span #loader class="loader"></span>

  <img *ngIf="visible" (load)="loaded()" [alt]="data.location" [src]="src">

  <div class="details">

    <h3>{{data.location}}</h3>
    <span></span>

    <div class="hover">
      <lucide-icon class="icon-small" name="map-pin"></lucide-icon>
      <a [href]="data.coordinates === null ? '' : 'https://www.openstreetmap.org/#map=16/{{data.coordinates.latitude}}/{{data.coordinates.longitude}}'"
         target="_blank">
        {{degrees}}
      </a>
    </div>

    <div>
      <lucide-icon class="icon-small" name="camera"></lucide-icon>
      <a>{{data.device}}</a>
    </div>

    <div>
      <lucide-icon class="icon-small" name="aperture"></lucide-icon>
      <a>ƒ/{{data.aperture}}</a>
      <a>{{data.shutterSpeed}}</a>
      <a>{{data.focalLength}}mm</a>
      <a>ISO{{data.iso}}</a>
    </div>

    <div class="functions">
      <button (click)="onDownloadClick()">
        <lucide-icon class="icon-small" name="download"></lucide-icon>
        <a>Original</a>
      </button>
      <button (click)="onDownloadPreviewClick()" class="outlined">
        <lucide-icon class="icon-small" name="download"></lucide-icon>
        <a>Preview</a>
      </button>
    </div>

  </div>

</div>
